/* @import url(about.css);
@import url(../base/reset.css);
@import url(../base/typography.css);
@import url(../components/button.css);
@import url(../components/card.css);
@import url(../components/loginform.css);
@import url(../components/navigation.css);
@import url(../components/input-worker.css);

:root {
  --main-text-color: #040930;
  --background-color: #f9fafa;
  --second-background-color:#ededf1;
  --text-color-with-background: white;
  --text-color: #333;
  --second-text-color: #08285a;
  --font-weight-lightweight: 300; /* Light weight */
  /* --font-weight-semi-bold: 600; Semi-bold weight */
  /* --border-color: #ddd;
  --button-color-hover:#424c94;
  --button-color:#2b378c;
  --nav-background-color: #6b6b97;
} */



