<h1>Employee Details</h1>
<div id="employee-details">
    <p><strong>Name:</strong> <%= employee.name %></p>
    <p><strong>Identification:</strong> <%= employee.identification %></p>
    <p><strong>Wage:</strong> <%= employee.wage %></p>
    <p><strong>Wage Type:</strong> <%= employee.wageType %></p>
    <p><strong>Start Training Date:</strong> <%= employee.startTraining %></p>
    <p><strong>Start Income Date:</strong> <%= employee.startIncome %></p>
    <p><strong>Worker Type:</strong> <%= employee.workerType %></p>
</div>