<div id="worker-container">
  <div id="box-title"><h5 >Worker Details</h5></div>
  <input
     class="worker-field"
     type="text"
     id="lastname"
     name="lastname"
     placeholder="Last Name"
  />
  <input
     class="worker-field"
     type="text"
     id="firstname"
     name="firstname"
     placeholder="First Name"
  />
  <input
     class="worker-field"
     type="text"
     id="middlename"
     name="middlename"
     placeholder="Middle Name"
  />
  <input
     class="worker-field"
     type="text"
     id="identification"
     name="identification"
     placeholder="Identification"
  />
  <input
     class="worker-field"
     type="text"
     id="wage"
     name="wage"
     placeholder="Wage"
  />
  <input
     class="worker-field"
     type="text"
     id="wageType"
     name="wageType"
     placeholder="Wage Type"
  />
  <input
     class="worker-field"
     type="date"
     id="startTrainingDate"
     name="startTrainingDate"
     placeholder="Start Training Date"
  />
  <input
     class="worker-field"
     type="date"
     id="startIncomeDate"
     name="startIncomeDate"
     placeholder="Start Income Date"
  />
  <input
     class="worker-field"
     type="text"
     id="workerType"
     name="workerType"
     placeholder="Worker Type"
  />
  <input id="save-button" type="submit" value="Save" />
 </div>
 